*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    /* background-color: rgb(0, 0, 0,0.7); */
    background-image: url('clocks.jpg');
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stopwatch{
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: white;
    padding: 20px 24px;
    border-radius: 10px;
}

.timerDisplay{
    font-size: 50px;
    font-weight: bold;
}

.buttons{
    margin-top: 20px;
}

.btn{
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    background-color: aqua;
    padding: 12px 24px;
    border-radius: 10px;
    margin-inline: 12px;
    cursor: pointer;
}